@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 100 900;
  src: url('../asset/font/Russo_One/RussoOne-Regular.ttf') format('truetype');
}

.font-Russo {
  font-family: 'Russo One', serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 121, 165, 252; /* #79A5FC */
  --background-mid-rgb: 44, 110, 238; /* #2C6EEE */
  --background-end-rgb: 12, 56, 141; /* #0C38BD */
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-mid-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          rgb(var(--background-start-rgb)),
          rgb(var(--background-mid-rgb)) 41%,
          rgb(var(--background-end-rgb)) 89%
  );
}
