@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 300 900;
  src: url('../asset/font/Russo_One/RussoOne-Regular.ttf') format('truetype');
}

.font-Russo {
  font-family: 'Russo One', serif;
}
