# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
/server/node_modules
/client/node_modules

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Compiled binary addons (Node-gyp)
/build

# Dependency files
npm-debug.log
yarn-error.log
